@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-image: url(fishPics/Fishtank3.png);
    background-repeat: no-repeat;
    background-position: right top; 
    background-attachment: initial;
    background-size: cover;
    margin: auto;
}

h1, h2, p {
    font-family:'Bebas Neue', cursive;
}

.buttons {
    border-radius: 12px;
}

